.duoBencaos {
    color: white;
    padding: 0.5em;
    /*box-shadow: 0 0 0 0.2vh lightblue;*/
    place-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .deuses {
        display: grid;
        place-items: center;
        grid-template-areas:
        "nomeD1 nomeD2"
        "imagemD1 imagemD2";
        font-size: large;

        .nomeD1{
            grid-area:  nomeD1;
        }   
        .imagemD1{
            grid-area: imagemD1;
            margin: 1em;
        }
        .imagemD1 img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        .nomeD2{
            grid-area: nomeD2;
        }
        .imagemD2{
            grid-area: imagemD2;
            margin: 1em;
        }
        .imagemD2 img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    
    .info {
        margin-left: 1em;
        margin-right: 1em;
        display: grid;
        place-items: center;
        grid-template-areas:
        "nomeDuoBencao ."
        "imagemDuoBencao descricao";
        .nomeDuoBencao{
            font-weight: bold;
            font-size: larger;
            grid-area: nomeDuoBencao;
            margin-right: 1em;
            margin-bottom: 1em;
        }
        .imagemDuoBencao{
            grid-area: imagemDuoBencao;
            margin-right: 1em;
        }
        .imagemDuoBencao img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
        .descricao{
            grid-area: descricao;
            font-size: large;
        }
    }




}

